{% extends "base.html" %}

{% block header %}
    {{ quest.title }}
{% endblock header %}

{% block main_content %}
    {% if result.correct %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Poprawna odpowiedź!</h4>
            <p> {{ result.feedback }} </p>
        </div>
        <div class="container">
            <div class="col"></div>
            <div class="col">
                {% if quest.succeeding %}
                    <a href="{% url 'quest' quest.succeeding.id %}">
                {% else %}
                    <a href="{% url 'reward' quest.id %}">
                {% endif %}
                <button class="btn btn-lg btn-outline-success">Dalej</button>
                </a>
            </div>
            <div class="col"></div>
        </div>
    {% else %}

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Zła odpowiedź!</h4>
            <p> {{ result.feedback }} </p>
        </div>
        <div class="container">
            <div class="col"></div>
            <div class="col">

                <a href="{% url 'quest' quest.id %}">
                    <button class="btn btn-lg btn-outline-secondary">Powrót</button>
                </a>
            </div>
            <div class="col"></div>
        </div>
    {% endif %}
{% endblock main_content %}